.main-header{
    height: 30px;line-height: 30px;margin: 10px 0;
    background-color: #F2F2F2;
}
.tree-bg{
    background-color: #f6fafd;
    padding: 0;
}
.tree-header{
    height: 50px;font-size: 20px;line-height: 50px;
}
.layer-form{
    padding: 20px;
}
.main-bg{
    width: auto;
    height: 1600px;
    background: #eceff3;
    margin: 0 15px;
}
.main-bg .video{
    min-height:657px;
}
.main-bg .page-header{
    margin: 0;
}
.main-bg .bg-success{
    height: 60px;
    line-height:60px;
}